@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

:root {
    /* Background Color */
    --bg-white: #fff;
    --bg-black: #2C2C2C;
    --bg-light-pink: #ff007a;
    --bg-light-gray: #f6f9fe;
    --bg-gradient: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
    --bg-card-shadow: 0 0.188rem 1.25rem 0px rgba(0, 0, 0, 0.06);
    --bg-card-shadow-2: 0 2rem 5rem rgb(0,0,0,0.06);
    --bg-light-gray-1: #eee;

    /* Text Color */
    --primary-font: "Poppins", sans-serif;
    --text-white: #fff;
    --text-black: #2C2C2C;
    --text-light-black: #444;
    --text-light-pink: #ff007a;
    --text-light-gray: #7e8085;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}

h1, h2, h3, h5 {
    color: var(--text-black);
}

h1 {
    color: var(--text-white);
    font-size: 3.563rem;
    line-height: 4.563rem;
    letter-spacing: 0.125rem;
    font-weight: 400;
}

h2 {
    font-size: 2.875rem;
    line-height: 3.75rem;
    font-weight: 400;
}

h3 {
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 2.375rem;
}

h5 {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.063rem;
    line-height: 1.688rem;
    color: var(--text-light-pink);
    text-transform: uppercase;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 999;
    transition: .3s;
    background: transparent;
}

.navbar .navbar-nav .nav-link {
    padding: 1.875rem 1.25rem;
    color: var(--text-white);
    text-transform: capitalize;
    transition: .3s;
}

.navbar-brand img {
    max-width: 50%;
}


