<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1 style="text-align: center;">Welcome to Urban Sound Classification</h1>
	<a style="border: 2px solid black;padding: 3px;margin-left: 500px;text-decoration: none;color:black ;margin-top:700px; ;" href="/page1">Record</a>
	<br>
	<br>
	<br>
	<a style="border: 2px black groove;padding: 3px;margin-left: 500px;text-decoration: none;color:black;" href="/page2">Browse</a>


</body>
</html>